@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark and Light Mode */
.dark .min-h-screen {
    background-color: #121212;
    color: white;
  }
  /* Dark Mode Fix for Sticky Navbar */
.dark .sticky {
  position: sticky; /* Ensure sticky works in dark mode */
  top: 0;
  z-index: 50; 
}



  .min-h-screen {
    background-color: white;
    color: black;
  }

  /* For Start */
/* Night Mode Background */
.night-mode {
    background-color: #000; 
    position: relative;
    overflow: hidden;
  }
  /* Snow falling */
/* Snowfall effect */
.snowflakes {
  position: fixed; /* Ensure it stays within the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden; /* Prevent any overflow */
}

.snowflake {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0.9;
  animation: snow 10s linear infinite, fall 10s linear infinite;
}

/* Horizontal drifting animation */
@keyframes snow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

/* Vertical falling animation */
@keyframes fall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100vh);
  }
}




  